.parrot-swlab {
  background-color: coral;
  border-color: coral;
  color: black;
}

.parrot-swlab {
  background-color: orange;
  border-color: orange;
  color: black;
}

.parrot-gn {
  background-color: royalblue;
  border-color: royalblue;
  color: black;
}

.parrot-new {
  background-color: lime;
  border-color: lime;
  color: black;
}

.parrot-net-mgr {
  background-color: violet;
  border-color: violet;
  color: black;
}

.parrot-univrsity {
  background-color: silver;
  border-color: silver;
  color: black;
}
